{
  "tabWidth": 4,
  "singleQuote": false,
  "semi": true,
  "printWidth":120,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "css",
  "jsxBracketSameLine": false,
  "endOfLine": "auto"
}
